<!DOCTYPE html>
<html>
<head>
 <title>Whatsapp Daten</title>
 <meta charset="utf-8" />
 WhatsApp Chat mit Lactovegetarier lvl 3🍫🐰
 18.04.18-18.01.20

</head>
<body> 
<div class="bd-example" allign="middle">

    <img src="static/Anzahl_Nachrichten_pro_Autor.png">
    <img src="static/Anzahl_Buchstaben.png">
    <img src="static/Anzahl_Medien_pro_Autor.png">
    <img src="static/Anzahl_Wörter.png">
    <img src="static/Tage_mit_den_meisten_nachrichten.png">
    <img src="static/Uhrzeit_mit_den_meisten_Nachrichten.png">
    <img src="static/Stunde_mit_den_meisten_Nachrichten.png">
    <img src="static/Häufigste_Anzahl_Buchstaben_in_Nachricht.png">
    <img src="static/Häufigste_Anzahl_Wörter_in_Nachricht.png">
    <img src="static/emoji.png">
        
</div>
</body>
</html>